.schoolLogo {
/*    width: 30px;*/
    width: 2em;
    top: 0.5em;
    display: inline-block;
    position: relative;
}

.post .date {
/*    margin-left: 44px;*/
    margin-left: 2.7em;
    margin-top: 0;
}
