html {
    background: #eeeeee;
}

body {
    color: #212121;
    overflow-x: hidden;
}

.navigation {
    list-style: none;
    background: #eeeeee;
    width: 60%;
    height: 80%;
    position: fixed;
    top: -16px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.site-wrap {
    min-width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: #eeeeee;
    position: relative;
    top: -8px;
    bottom: 100%;
    left: -9px;
    z-index: 1;
    background-size: 200%;
}

.navigation a {
    color: #212121;
    text-decoration: none;
}

.navigation a:hover li, .navigator:not(.nav-head) {
    background: #e2e8df;
    color: #333333;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.navigation li {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-size: 32px;
    background: #d8d8d8;
    margin-bottom: 1px;
    margin-left: -20px;
    padding: 2px 0px 2px 20px;
}

.navigation .nav-head {
    margin-left: -35px;
    padding-left: 10px;
    background: #cecece;
}

.nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 2;
    width: 30px;
    height: 28px;
    cursor: pointer;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewbox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='5'/><rect y='22' width='30' height='5'/><rect y='11' width='30' height='5'/></svg>")
}

input {
    display:none;
}

.nav-trigger:checked + label {
    left: 315px;
}

.nav-trigger:checked ~ .site-wrap {
    left: 300px;
/*    box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);*/
}

.nav-trigger + label, .site-wrap {
    -webkit-transition: left 0.4s;
    -moz-transition: left 0.4s;
    -o-transition: left 0.4s;
    transition: left 0.4s;
}

.topbar {
    margin-left: 9%;
    margin-right: 10%;
    font-family: 'Raleway', sans-serif;
    position: absolute;
}

.topbar a {
    color: #212121;
}

#titlename {
    left: 1px;
}

#titlename h1 {
    z-index: 5;
    background: rgba(238, 238, 238, 0.9);
    position: fixed;
    top: 0;
    padding-top: 8px;
    font-weight: bold; 
    font-size: 42px; 
    border-bottom-style: solid; 
    border-bottom-color: rgb(115, 170, 22); 
    border-bottom-width: 1px;
    width: 80%;
}

#titledescription {
    z-index: 4;
    position: relative;
    top: 26px;
    font-size: 20px; 
    padding-left: 10px;
}

h1 {
    font-family: 'Questrial', sans-serif;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0
}

#page {
    padding-top: 50px;
    width: 100%;
    position: relative;
}

.post {
    font-family: 'Questrial', sans-serif;
    padding: 5%;
    margin: 40px auto;
    background: rgba(250, 250, 250, 0.9);
    width: 70%;
    max-width: 1000px;
    font-size: 18px;
}

#centeredlist {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

#centeredlist ul {
    columns: 2; 
    -webkit-columns: 2; 
    -moz-columns: 2; 
    list-style-position: inside; 
    width: fit-content; 
    margin-left: auto; 
    margin-right: auto; 
    padding-left: 0px; 
}

.post a {
    color: rgb(115, 170, 22);
}

.post h2 {
    margin-left: 5px;
    margin-top: 0px;
}

.post h3 {
    margin-left: 5px;
    color: #343946;
}

.post p {
    margin-left: 5px;
    font-family: 'Open Sans', sans-serif;
}

.post .img-div {
    text-align: center;
    width: 90%;
    margin: 3% 5% 0% 5%;
    display: inline-block;
    position: relative;
    background: black;
}

.post .img-div img {
    width: 100%;
    margin-top: 4px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.post .txt-div {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.post .txt-div:before {
    content: '';
    padding-top: 70%;
    vertical-align: middle;
    display: inline-block;
}

.post .txt-div p {
    font-family: 'Montserrat', sans-serif;
    color: white;
    max-width: 95%;
    display: inline-block;
    vertical-align: middle;
}

.post .img-div:hover {
    background: #121212;
}

.post .img-div:hover img {
    opacity: 0.5;
}

.post .img-div:hover .txt-div {
    opacity: 1;
}

#photography .img-div {
    width: 90%;
    margin: 5%;
}

.events {
    margin-bottom: 30px;
}

.events h3 {
    margin-bottom: 0px;
    margin-left: 0px;
}

.events .date {
    font-size: 14px;
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 9px;
    margin-bottom: 0px;
}

.events .eventinfo {
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 0px;
    margin-top: 0px;
}

#misc p, #misc img, #misc a {
    position: relative;
    display: inline-block;
}

#misc .img-div {
    margin: 3% 10% 0% 10%;
    width: 80%;
}

@media screen and (min-width: 800px) {
    #titledescription {
        top: 33px;
        font-size: 15px; 
    }
    
    .post .img-div {
        width: 70%;
        margin: 3% 15% 0% 15%;
    }
    
    .navigation li {
        font-size: 22px;
    }
    
    .nav-trigger:checked + label {
        left: 215px;
    }

    .nav-trigger:checked ~ .site-wrap {
        left: 200px;
    }
    
    .nav-trigger + label, .site-wrap {
        -webkit-transition: left 0.3s;
        -moz-transition: left 0.3s;
        -o-transition: left 0.3s;
        transition: left 0.3s;
    }
    
    .post {
        font-size: 16px;
    }
    
    #centeredlist {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
    
    .events .date {
        font-size: 12px;
    }
}

@media screen and (max-width: 600px) {
    .site-wrap {
        min-width: 106%;
    }
    
    #titledescription {
        top: 36px;
        font-size: 20px; 
    }
    
    #page {
        padding-top: 60px;
    }
    
    #titlename h1 {
        font-size: 52px; 
        width: 85%;
    }
    
    .post {
        font-size: 22px;
        border-radius: 1%;
    }
    
    #centeredlist {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .events h3 {
        text-align: center;
    }
    
    .events .date {
        font-size: 16px;
        text-align: center;
        margin-left: -100px;
        padding-right: 40px;
    }
    
    label[for="nav-trigger"] {
        position: fixed;
        top: 18px;
        left: 12px;
        width: 34px;
        height: 30px;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewbox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>")
    }
}

@media screen and (max-width: 400px) {
    #titlename h1 {
        text-align: center;
    }
    
    #titledescription {
        display: none;
    }
    
    #centeredlist {
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }
}
