html {
    background: #eeeeee;
}


body {
    color: #212121;
}

.topbar {
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Raleway', sans-serif;
    position: absolute;
}

#titlename {
    left: 1px;
}

#titlename h1 {
    z-index: 5;
    background: rgba(238, 238, 238, 0.9);
    position: fixed;
    top: 0px;
    padding-top: 8px;
    font-weight: bold; 
    font-size: 42px; 
    border-bottom-style: solid; 
    border-bottom-color: rgb(115, 170, 22); 
    border-bottom-width: 1px;
    width: 80%;
}

#titledescription {
    z-index: 4;
    position: relative;
    top: 30px;
    font-size: 15px; 
    padding-left: 10px;
}

h1 {
  font-family: 'Questrial', sans-serif;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0
}

#page {
    padding-top: 50px;
    width: 100%;
    position: relative;
}

.post {
    font-family: 'Questrial', sans-serif;
    padding: 5%;
    margin: 40px auto;
    background: rgba(250, 250, 250, 0.9);
    width: 70%;
    max-width: 1000px;
}

.post a {
    color: rgb(115, 170, 22);
}

.post h2 {
    margin-left: -15px;
}

.post h3 {
    margin-left: -5px;
    color: #343946;
}

.post p {
    margin-left: 5px;
/*    font-family: 'Crimson Text', serif;*/
    font-family: 'Open Sans', sans-serif;
/*    font-family: 'Roboto Condensed', sans-serif;*/
}

.post .img-div {
    text-align: center;
    width: 70%;
    margin: 3% 15% 0% 15%;
    display: inline-block;
    position: relative;
    background: black;
}

.post .img-div img {
    width: 100%;
    margin-top: 4px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.post .txt-div {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.post .txt-div:before {
    content: '';
    padding-top: 70%;
    vertical-align: middle;
    display: inline-block;
}

.post .txt-div p {
    font-family: 'Montserrat', sans-serif;
    color: white;
    max-width: 95%;
    display: inline-block;
    vertical-align: middle;
}

.post .img-div:hover {
    background: #121212;
}

.post .img-div:hover img {
    opacity: 0.5;
}

.post .img-div:hover .txt-div {
    opacity: 1;
}

#photography .img-div {
    width: 90%;
    margin: 5%;
}

#misc p, #misc img, #misc a {
    position: relative;
    display: inline-block;
}

#misc img {
    border-radius: 50%; 
    width: 30%;
}
