.button_1 {
	color: #ffff !important;

	text-decoration: none;
	background: rgba(0,0,0,.4);
	padding: 15px;
	border: 2px solid rgba(255,255,255,.6) !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
}

.button_1:hover {
	color: rgba(0, 0, 0, 1) !important;
	background: rgba(255,255,255,0.6);
	border-color: rgba(255,255,255,0) !important;
	transition: all 0.4s ease 0s;
}